scikit-learn
numpy
pandas
seaborn
matplotlib
torch
torchvision
torchaudio
tensorflow
beautifulsoup4
imageio
jupyterlab
ipykernel
jupyter_contrib_nbextensions
scikit-image
statsmodels
tqdm
opencv-contrib-python
pyarrow
mkl
torchsummary
gensim
tensorflow-probability==0.24.0
tf_keras
IPython
nltk
spacy
transformers==4.45.2
tensorflow-hub